open511==0.5
psycopg2
python-dateutil==2.4.2
-e git+https://github.com/open511/open511-server@f893973#egg=open511_server
-e git+https://github.com/open511/roadcast@7174e8b#egg=roadcast
gunicorn==19.3.0
eventlet==0.17.4
gevent==1.1rc1
whitenoise==2.0.6
setproctitle==1.1.9
