from .default_settings import *

# Should be False in production!
DEBUG = True

# Si c'est True, il y aura une interface administrative web
ENABLE_ADMIN = False

OPEN511_BASE_URL = 'http://example.com'

SECRET_KEY = 'change_me_in_each_environment'

# As a security measure, you can change this to valid values for the HTTP Host header
# and requests for other Hosts will be rejected
ALLOWED_HOSTS = ['*']

URL_PREFIX = ''
# e.g. URL_PREFIX = 'api/open511/' if all URLs should be prefixed with that

STATIC_URL = '/' + OPEN511_URL_PREFIX + 'static/'

# Database
# https://docs.djangoproject.com/en/dev/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'open511',
        'USER': 'open511',
        'PASSWORD': 'thepassword'
    }
}
