from .default_settings import *

# Should be False in production!
DEBUG = True

OPEN511_BASE_URL = 'http://example.com'

SECRET_KEY = 'change_me_in_each_environment'

ALLOWED_HOSTS = []

# Database
# https://docs.djangoproject.com/en/dev/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'open511'
    }
}
