from .default_settings import *

# Should be False in production!
DEBUG = False

# Si c'est True, il y aura une interface administrative web
ENABLE_ADMIN = False

OPEN511_BASE_URL = 'https://example.com' # URL to the host

SECRET_KEY = 'change_me_in_each_environment'

# As a security measure, you can change this to valid values for the HTTP Host header
# and requests for other Hosts will be rejected
ALLOWED_HOSTS = ['*']

URL_PREFIX = ''
# e.g. URL_PREFIX = 'api/open511/' if all URLs should be prefixed with that

STATIC_URL = '/' + OPEN511_URL_PREFIX + 'static/'

# Voir l'URL suivant pour tous les options:
# https://docs.djangoproject.com/en/dev/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'open511',
        'USER': 'open511',
        'PASSWORD': 'thepassword'
    }
}

OPEN511_IMPORT_TASKS = [
    {
        'URL': 'http://example.com/api/GeoTrafic/v1.0.0/Events/',
        'IMPORTER': 'geotrafic511.importer.GeoTraficImporter',
        'INTERVAL': 60 # chaque minute
    }
]
